.login{
    display: grid;
    place-items: center;
    background-color: black;
    height: 100vh;
}

.login > img{
    width:100%;
}

.login>a{
    padding:0px;
    border-radius:110px;
    width:140px;
    background-color: #1db954;
    color:white;
    font-weight: 800;
    text-decoration: none;
    height: 70px;
    font-size: 30px;
    border: 0px;
    padding-top: 20px;
}