/*24*/
.songRow{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    color: white;
}

.songrow:hover{
    cursor:pointer;
    background-color: black;
    opacity:0.8;
}

.songRow_info{
    margin-left: 20px;
    text-align: left;
}

.songRow_info>h1{
    font-size:16px;
}

.songRow__album {
    height: 40px;
    width: 40px;
  }